/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.typewriter {
  display: flex;
  border-bottom: 3px solid rgb(255, 43, 86);
  color: "#B4F8C8";
  /* color: rgb(255, 43, 86); */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(40, end);
  max-width: fit-content;
  animation: typing 5.5s steps(40, end);
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
